<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户首页</title>
</head>
<body>
  <table>
      <tr>
          <a th:href="@{/user/add_user}">添加</a>
      </tr>
      <tr>
          <th>用户编号</th>
          <th>用户姓名</th>
          <th>用户性别</th>
          <th>用户年龄</th>
          <th>操作</th>
      </tr>
      <tr th:each="item : ${userList}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.name}"></td>
          <td th:text="${item.sex}"></td>
          <td th:text="${item.age}"></td>
          <td>
              <a th:href="@{/user/upd_user(id=${item.id})}">更新</a>
              <a th:href="@{/user/del_user_do(id=${item.id})}">删除</a>
          </td>
      </tr>
  </table>
</body>
</html>